body
{
    background-color: $page-background;
}

header
{
    width: 100%;
}

header#header
{
    background-color: $header-background;
}

footer
{
    width: 100%;
}

footer#footer
{
    background-color: $header-background;
}
