<html lang="en_US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="profile" href="https://gmpg.org/xfn/11">
        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/{{ site.theme-override }}.css">
        {% if page.title %}<title>{{ page.title }} – {{ site.title }}</title>{% else %}<title>{{ site.title }}</title>{% endif %}
{% include meta.html %}
    </head>
    <body>
        <a href="#top"></a>
        <header id="header">
            <div id="logo">
                <a href="{{ site.baseurl }}" rel="home" aria-current="page">
                    <img width="290" height="110" style="height: 110px;" src="assets/images/base/the-forgottten-soul-white.png" class="custom-logo" alt="{{ site.title }}" decoding="async" data-orig-file="assets/images/base/the-forgottten-soul-white.png" data-orig-size="1350,512" data-image-title="{{ site.title }}" data-medium-file="assets/images/base/the-forgottten-soul-white.png" data-large-file="assets/images/base/the-forgottten-soul-white.png"></a>
            </div>
        </header>